<!DOCTYPE html>
<html>
  <head>
    <title>Welcome and welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
    <!-- <p>Welcome to <%= title %></p> -->

    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
      <button id="toggle-btn">Disconnect</button>
    </form>

  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    const form = document.getElementById('form');
    const input = document.getElementById('input');
    const msgs = document.getElementById('messages');
    
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      if (input.value) {

        <!-- Server will lock like this -->
        <!-- socket.on('chat message', (msg) => { -->
        <!--   console.log(msg); -->
        <!-- }) -->
        socket.emit('chat message', input.value);
        input.value = '';
      };
    });

    socket.on('chat message', (msg) => {
      const li = document.createElement('li');
      li.textContent = msg;
      msgs.appendChild(li);
      console.log(msg);
      window.scrollTo(0, document.body.scrollHeight);
    });
  </script>
</html>
