<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Chat App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <h1>Welcome Back!</h1>
            <p>We're so excited to see you again!</p>
        </div>
        
        <form action="/users/login" method="POST">
            <div class="form-group">
                <label for="username">USERNAME</label>
                <input 
                    type="text" 
                    id="username" 
                    name="username" 
                    value="<%= locals.oldInput ? oldInput.username : '' %>"
                    required
                    autocomplete="username"
                >
            </div>

            <div class="form-group">
                <label for="password">PASSWORD</label>
                <input 
                    type="password" 
                    id="password" 
                    name="password"
                    required
                    autocomplete="current-password"
                >
            </div>

            <% if (locals.message) { %>
            <div class="error-message">
                <i class="fas fa-exclamation-circle"></i>
                <%= message %>
            </div>
            <% } %>

            <button type="submit" class="submit-button">Log In</button>
        </form>

        <div class="register-link">
            Need an account? <a href="/users/register">Register</a>
        </div>
    </div>
</body>

<script src="/socket.io/socket.io.js"></script>
</html>
